USE [master]
GO
/****** Object:  Database [NT]    Script Date: 2018/4/9 13:12:21 ******/
CREATE DATABASE [NT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NT_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NT]
GO
/****** Object:  Table [dbo].[ACG]    Script Date: 2018/4/9 13:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACG](
	[Pro_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Pro_Class] [nchar](20) NOT NULL,
	[Pro_Title] [nchar](50) NOT NULL,
	[Pro_Time] [datetime] NOT NULL,
	[Pro_Content] [nvarchar](max) NULL,
	[Cull_Name] [nchar](20) NULL,
 CONSTRAINT [PK_ACG] PRIMARY KEY CLUSTERED 
(
	[Pro_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2018/4/9 13:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Admin_ID] [int] IDENTITY(1,1) NOT NULL,
	[Admin_Name] [nchar](10) NOT NULL,
	[Admin_Password] [nchar](20) NOT NULL,
	[Admin_Img] [nchar](100) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2018/4/9 13:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Comments_ID] [int] IDENTITY(1,1) NOT NULL,
	[Comments_Content] [nchar](400) NOT NULL,
	[Comments_Time] [datetime] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Pro_ID] [int] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Comments_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cull]    Script Date: 2018/4/9 13:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cull](
	[Cull_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cull_Name] [nchar](10) NOT NULL,
	[Cull_Img] [nvarchar](50) NULL,
	[Cull_Content] [nvarchar](max) NULL,
	[Cull_Class] [nchar](20) NOT NULL,
	[Cull_Dyn] [nchar](20) NOT NULL,
 CONSTRAINT [PK_Cull] PRIMARY KEY CLUSTERED 
(
	[Cull_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Leavewords]    Script Date: 2018/4/9 13:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leavewords](
	[Leavewords_ID] [int] IDENTITY(1,1) NOT NULL,
	[Leavewords_Content] [nvarchar](max) NOT NULL,
	[Leavewords_Time] [datetime] NOT NULL,
	[User_ID] [int] NOT NULL,
	[News_ID] [int] NOT NULL,
 CONSTRAINT [PK_Leavewords] PRIMARY KEY CLUSTERED 
(
	[Leavewords_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 2018/4/9 13:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[News_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cull_ID] [int] NOT NULL,
	[News_Title] [nchar](50) NOT NULL,
	[News_Time] [datetime] NOT NULL,
	[News_Content] [nvarchar](max) NOT NULL,
	[News_Url] [nchar](100) NOT NULL,
	[News_Img] [nchar](100) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[News_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReplyComments]    Script Date: 2018/4/9 13:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplyComments](
	[ReplyComments_ID] [int] IDENTITY(1,1) NOT NULL,
	[ReplyComments_Content] [nvarchar](200) NOT NULL,
	[ReplyComments_Time] [datetime] NOT NULL,
	[Comments_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
 CONSTRAINT [PK_ReplyComments] PRIMARY KEY CLUSTERED 
(
	[ReplyComments_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReplyLeavewords]    Script Date: 2018/4/9 13:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplyLeavewords](
	[ReplyLeavewords_ID] [int] IDENTITY(1,1) NOT NULL,
	[ReplyLeavewords_Comment] [nvarchar](max) NOT NULL,
	[ReplyLeavewords_Time] [datetime] NOT NULL,
	[Leavewords_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
 CONSTRAINT [PK_ReplyLeavewords] PRIMARY KEY CLUSTERED 
(
	[ReplyLeavewords_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2018/4/9 13:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [nchar](10) NOT NULL,
	[User_Password] [nvarchar](20) NOT NULL,
	[User_Img] [nvarchar](50) NOT NULL,
	[User_Email] [nvarchar](50) NOT NULL,
	[User_Phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ACG]  WITH CHECK ADD  CONSTRAINT [FK_ACG_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[ACG] CHECK CONSTRAINT [FK_ACG_User]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_ACG] FOREIGN KEY([Pro_ID])
REFERENCES [dbo].[ACG] ([Pro_ID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_ACG]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_User]
GO
ALTER TABLE [dbo].[Leavewords]  WITH CHECK ADD  CONSTRAINT [FK_Leavewords_News] FOREIGN KEY([News_ID])
REFERENCES [dbo].[News] ([News_ID])
GO
ALTER TABLE [dbo].[Leavewords] CHECK CONSTRAINT [FK_Leavewords_News]
GO
ALTER TABLE [dbo].[Leavewords]  WITH CHECK ADD  CONSTRAINT [FK_Leavewords_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Leavewords] CHECK CONSTRAINT [FK_Leavewords_User]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Cull] FOREIGN KEY([Cull_ID])
REFERENCES [dbo].[Cull] ([Cull_ID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Cull]
GO
ALTER TABLE [dbo].[ReplyComments]  WITH CHECK ADD  CONSTRAINT [FK_ReplyComments_Comments] FOREIGN KEY([Comments_ID])
REFERENCES [dbo].[Comments] ([Comments_ID])
GO
ALTER TABLE [dbo].[ReplyComments] CHECK CONSTRAINT [FK_ReplyComments_Comments]
GO
ALTER TABLE [dbo].[ReplyComments]  WITH CHECK ADD  CONSTRAINT [FK_ReplyComments_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[ReplyComments] CHECK CONSTRAINT [FK_ReplyComments_User]
GO
ALTER TABLE [dbo].[ReplyLeavewords]  WITH CHECK ADD  CONSTRAINT [FK_ReplyLeavewords_Leavewords] FOREIGN KEY([Leavewords_ID])
REFERENCES [dbo].[Leavewords] ([Leavewords_ID])
GO
ALTER TABLE [dbo].[ReplyLeavewords] CHECK CONSTRAINT [FK_ReplyLeavewords_Leavewords]
GO
ALTER TABLE [dbo].[ReplyLeavewords]  WITH CHECK ADD  CONSTRAINT [FK_ReplyLeavewords_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[ReplyLeavewords] CHECK CONSTRAINT [FK_ReplyLeavewords_User]
GO
USE [master]
GO
